* {
    margin:0px;
}

body {
    background-color:#E0F7FA;
    font-family:Arial;
    text-align:center;
}

/* #kontener-calej-strony {
    width:95%;
    margin:auto;
    background-color:#E0F7FA;
} */

#banner {
    background-color:#00838F;
    height:200px;
    width: 100%;
}

#menu {
    background-color:#006064;
    padding:15px;
}

#menu a {
    size:150%;
    text-decoration:none;
    color:white;
    margin-left:10px;
    margin-right:10px;
}

#główny1 {
    width:33%;
    height:350px;
    float:left;
    background-color:#E0F7FA
}

#główny2 {
    width:33%;
    height:350px;
    float:left;
    background-color:#E0F7FA
}

#główny3 {
    width:33%;
    height:350px;
    float:left;
    background-color:#E0F7FA
}

#stopka {
    background-color:#006064;
    color:white;
    text-align:right;
    padding:10px;
    margin:30%;
    margin-left:5px;
    margin-right:5px;
}

ul {
    text-align:left;
}

table > tr {
    padding:20px;
}

h3 {
    margin-top:10px;
    margin-bottom:10px;
}

h2 {
    margin-top:10px;
    margin-bottom:10px;
}

td > input, label {
    margin-top:10px;
    margin-bottom:10px;
}

input[type*="button"]:hover {
    color:#80DEEA;
}

input[type*="reset"]:hover {
    color:#80DEEA;
}

input[type*="button"] {
    color:white;
    background-color:#00838F;
}

input[type*="reset"] {
    color:white;
    background-color:#00838F;
}